
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <meta name="Generator" content="EditPlus®">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">

    
    <link href="~/css/Main.css" rel="stylesheet" />
</head>
<body>

    <div class="div1">


        <ul>
            <li>
                <a asp-action="Index" asp-controller="User">
                    <img src="~/images/user1.png" />
                </a>
                <div>用户管理</div>


            </li>
            <li>
                <a  asp-action="Index" asp-controller="Role">
                    <img src="~/images/user1.png" />
                </a>
                <div>角色管理</div>


            </li>
            <li>
                <a href="#">
                    <img src="~/images/lock1.png" />
                </a>
                <div>权限管理</div>


            </li>
            <li>
                <a href="Light/Index">
                    <img src="~/images/light2.png" />
                </a>

                <div>路灯管理</div>


            </li>
            <li>
                <a href="Light/Map">
                    <img src="~/images/map1.png" />
                </a>
                <div>地图展示</div>


            </li>
            <li>
                <a href="Light/LightFeedback">
                    <img src="~/images/xiugai.png" />
                </a>
                <div>路灯反馈</div>


            </li>
            <li>
                <a href="Cont/Index">
                    <img src="~/images/controlle.png" />
                </a>
                <div>控制器管理</div>


            </li>
            <li>
                <a href="Cellect/Index">
                    <img src="~/images/caiji.png" />
                </a>
                <div>采集器管理</div>


            </li>
            <li>
                <a href="Sensor/Index">
                    <img src="~/images/chuanganqi.png" />
                </a>
                <div>传感器管理</div>


            </li>






        </ul>





    </div>
    <div>


    </div>
</body>
</html>