@{
    Layout = "_Layout";
}
<head>

    <style>
        body {
            background:linear-gradient(#ef9a9a,#808080);
        }

    </style>


</head>
    <body>


        <script src="~/js/test.js" opacity="0.6"></script>
    </body>
